<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
    <p><%=message.text %></p>

    <% }); %> <% }%>
  </body>
</html>
