<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form class="form" action="/new" method="post">
      <label for="messageText"
        >Message:
        <textarea
          name="messageText"
          id="messageText"
          cols="30"
          rows="10"
        ></textarea>
      </label>
      <label for="messageUser"
        >Name:
        <input type="text" name="messageUser" id="messageUser" />
      </label>
      <button class="form__button" type="submit">Add new message</button>
    </form>
  </body>
</html>
