*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2f4;
}

header {
  background-color: #2b2d42;
  color: #fff;
  padding: 3rem 0;
}

header h1 {
  text-align: center;
  font-size: 3rem;
}

.form {
  width: 60rem;
  max-width: 95%;
  margin: 0 auto;
  padding: 3rem 0;
}

textarea,
input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  resize: none;
  font-size: 1.8rem;
}

label {
  font-size: 2rem;
  font-weight: 500;
}

button {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  margin: 2rem 0;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ef233c;
  color: #fff;
}

a:link,
a:visited {
  display: block;
  text-align: center;
  width: 60rem;
  max-width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: #ef233c;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
